/* --------------------------------------------------------------------------------------------- */
/* IMPORTS */
/* --------------------------------------------------------------------------------------------- */
@import url("fonts.css");




/* --------------------------------------------------------------------------------------------- */
/* CUSTOM PROPERIES */
/* --------------------------------------------------------------------------------------------- */





/* --------------------------------------------------------------------------------------------- */
/* BODY */
/* --------------------------------------------------------------------------------------------- */
body{
    width: 100%; height: auto;
}




/* --------------------------------------------------------------------------------------------- */
/* HEADER */
/* --------------------------------------------------------------------------------------------- */

.header{
    width: 100%; height: 100vh;
    background-image: url(../svg/background.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0;
    transition: opacity 2s ease;
}

.header__nav{
    width: 100%; height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 0 40px;
    opacity: 0;
    transition: opacity 1s ease;
}

.nav__links{
    font-family: "Poppins", sans-serif;
    color: black;
    text-decoration: none;
}

.nav__links:hover{
    text-decoration: underline;
    transition: .9s;
}

.nav__links--desactive{
    pointer-events: none;
    color: #888;
}









.header__content{
    /* border: 1px solid black; */
    width: 100%; height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__content h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.header__content h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.header__content img{
    opacity: 0;
    transition: opacity 1s ease;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.animation{
    transform: translateY(30px) scale(1.8);
    transition: 0.9s;
}

/* --------------------------------------------------------------------------------------------- */
/* MAIN */
/* --------------------------------------------------------------------------------------------- */
.main{
    /* border: 1px solid black; */
    width: inherit; height: auto;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 50px;
}

.main__description{
    /* border: 1px solid black; */
    width: inherit; height: 100vh;
    display: flex;
}

.description__box01{
   /* border: 1px solid black; */
   width: 40%; height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.description__box01 img{
    /* border: 1px solid black; */
    width: 100%;
    object-fit: cover;
}

.description__box02{
    /* border: 1px solid black; */
    width: 60%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0 30px;
    margin-top: 10px;
}

.description__box02 h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.description__box02 p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    text-align: justify;
}









.main__projects{
    border: 1px solid black;
    width: inherit; height: auto; max-height: 200vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    display: none;
}

.projects__card{
    border: 1px solid black;
    width: 30%; height: 50vh;
    box-shadow: 3px 3px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin: 50px 0px;
}

.projects__card img{
    width: 30%;
}

.projects__card h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.projects__card p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.projects__card button{
    cursor: pointer;
}












/* --------------------------------------------------------------------------------------------- */
/* RESPONSIVE DESING */
/* --------------------------------------------------------------------------------------------- */

@media (width <= 700px){
    .header__nav{
        justify-content: center;
        padding: 0;
    }

    .main__description{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .description__box01, .description__box02{
        width: inherit;
        align-items: center;
    }

    .main__projects{
        max-height: 450vh;
        flex-direction: column;
        align-items: center;
    }

    .projects__card{
        width: 90%;
        gap: 5px;
    }

    .main__tecnology{
        height: auto;
        margin-top: 50px;
    }

    .tecnology__icons{
        flex-direction: column;
    }

    .tecnology__icons img{
        width: 40%;
    }
}